<div class="devise-container">
	<div class="screen">
		<div class="screen-content">
			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise-form" }) do |f| %>
    <h2>Sign Up</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="devise-field">
					<i class="devise-input-icon fas fa-user"></i>
          <%= f.input_field :first_name, autofocus: true, autocomplete: "first_name", class:"devise-input", placeholder:"First Name" %>
				</div>
        <div class="devise-field">
					<i class="devise-input-icon fas fa-user"></i>
          <%= f.input_field :last_name, autofocus: true, autocomplete: "last_name", class:"devise-input", placeholder:"Last Name" %>
				</div>
        <div class="devise-field">
					<i class="devise-input-icon fa-solid fa-envelope"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"devise-input", placeholder:"Email" %>
				</div>
				<div class="devise-field">
					<i class="devise-input-icon fas fa-lock"></i>
          <%= f.password_field :password, autocomplete: "new-password", class:"devise-input", placeholder:"Password (6 characters min.)" %>
        </div>
				<div class="devise-field">
					<i class="devise-input-icon fas fa-lock"></i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"devise-input", placeholder:"Password Confirmation" %>
        </div>
        <div class="registration-buttons">
          <%= button_tag 'Sign Up <i class="devise-button-icon fas fa-chevron-right"></i> '.html_safe, type: 'submit', class: 'button devise-submit' %>
          <%= button_tag 'Sign Up With Google <img src="https://icongr.am/devicon/google-original.svg?size=28&color=currentColor" class="devise-button-icon"> '.html_safe, type: 'submit', class: 'button devise-submit' %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
	</div>
</div>
